/*
 Theme Name:   cb-wessexme2025
 Theme URI:    https://www.wessexme.com/
 Description:  Theme for Wessex ME
 Author:       ChillibyteUK - DS
 Author URI:   https://github.com/ChillibyteUK
 Template:     understrap
 Version:      0.1
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  cb-wessexme2025
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: https://github.com/ChillibyteUK/cb-wessexme2025
*/
