.andwis {
    // &__grid {
    //     // display: grid;
    //     // gap: 1rem;
    //     // @media (min-width: 768px) {
    //     //     grid-template-columns: repeat(3,1fr);
    //     // }
    // }
    &__inner {
        padding: 1rem;
        height: 100%;
        min-height: 300px;
        // border-top: 1px solid var(--col-blue-400);
        @media (min-width: 768px) {
            border-left: 1px solid var(--col-blue-400);
            border-top: none;
        }
    }
    &__inner > img {
        height: 3.5rem;
        object-fit: contain;
        margin-bottom: 2rem;
        filter: grayscale(1);
    }
    &__details {
        display: grid;
        grid-template-columns: 1fr 4fr;
        h3 {
            color: var(--col-green-400);
            text-transform: uppercase;
        }
    }

    &__icons {
        text-align: center;
        img {
            width: 50px;
            height: 50px;
            margin-bottom: 0.5rem;
        }
    }
}