.front-hero {
    --hero-height: 600px;
    --margin-bottom: 0;
}
:not(.front-hero) {
    --margin-bottom: 2rem;
}
.hero {
    margin-bottom: var(--margin-bottom);
    position: relative;
    height: var(--hero-height);
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    isolation: isolate;

    
    h1, h2 {
        text-shadow: -1px 1px 2px var(--col-blue-400);
        color: white;
    }
    h1 {
        font-size: var(--fs-900);
        font-weight: var(--fw-600);
        line-height: 1.1;
    }
    h2 {
        font-size: var(--fs-500);
    }
}

.overlay--dark {
    --slash-width: 100%;
    @media (min-width:768px) {
        --slash-width: 135%;
    }
    position: absolute;
    width: var(--slash-width);
    height: var(--hero-height);
    left: 0;
    background-color: var(--col-blue-400);
    mix-blend-mode: darken;
    opacity: 0.6;
    z-index: -1;
    @media (min-width: 992px) {
        --slash-width: 160%;
        width: var(--slash-width);
        transform-origin: bottom;
        transform: skewX(45deg) translatex(-40%);
        animation: slash 1s ease-out;
    }
    @media (min-width: 1400px) {
        --slash-width: 135%;
        width: var(--slash-width);
        transform-origin: bottom;
        transform: skewX(45deg) translatex(-40%);
        animation: slash 1s ease-out;
    }
}

@keyframes slash {
    0% {
        width: 0;
    }
    100% {
        width: var(--slash-width);
    }
}