.news_grid {

    background-color: var(--col-grey-200);

    &__grid {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr;
    }

    @media (min-width: 576px) {
        &__grid {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (min-width: 992px) {
        &__grid {
            grid-template-areas:
                'first second second'
                'first third fourth'
            ;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: 1.6fr 1fr;
        }
        &__item:nth-child(1) {
            grid-area: first;
            aspect-ratio: 1;
        }
        &__item:nth-child(2) {
            grid-area: second;
            height: 100%;
        }
        &__item:nth-child(3) {
            grid-area: third;
            h3 {
                font-size: var(--fs-400);
            }
        }
        &__item:nth-child(4) {
            grid-area: fourth;
            h3 {
                font-size: var(--fs-400);
            }
        }
    }
    &__item {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        isolation: isolate;
        position: relative;
        color: white;
        min-height: 200px;
        text-shadow: 0 0 2px #000;
        transition: text-shadow 0.3s ease-in-out;
        
        &:hover,
        &:focus-visible {
            color: white;
            .overlay {
                background-color: var(--col-blue-400);
            }
        }
    }

    &__content {
        position: relative;
        padding: 1rem;
        z-index: 0;
        h3 {
            font-size: var(--fs-500);
            font-weight: var(--fw-600);
            line-height: 1.1;
        }
        .overlay {
            position: absolute;
            inset: 0;
            transition: background 0.3s ease-in-out;
            background-color: hsl( var(--hsl-blue-400), .8);
            mix-blend-mode: multiply;
            z-index: -1;
        }
    }

    .news_meta {
        font-size: var(--fs-200);
        font-weight: var(--fw-semi);
    }



}
