.person_bio {
    &__image {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 1rem;
        width: min(300px,100%);
    }
    &__name, &__role {
        font-weight: var(--fw-600);
    }
    &__name {
        font-size: var(--fs-500);
    }
    &__role {
        color: var(--col-burgundy-400);
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 1rem;
    }
}