.testimonials {
    background-color: var(--col-grey-200);
    &__slider {
        display: flex;
    }
    &__testimonial {
        text-align: center;
    }
    &__body {
        max-width: 800px;
        margin: auto;
    }
    &__content {
        font-size: var(--fs-500);
        font-style: italic;
    }
    &__cite {
        font-weight: var(--fw-600);
        font-size: var(--fs-400);
        color: var(--col-blue-400);
    }
}