.text_image {
    &__image {
        img {
            aspect-ratio: 1 / 1;
            width: 100%;
            object-fit: cover;
        }
        img.contain {
            object-fit: contain;
        }
    }
}