.cs_index {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 1rem;
    margin-inline: -0.5rem;

    &__card {
        width: 32%;
        margin: 0.5rem;
        text-decoration: none;
        &:hover {
            .cs_index__image {
                transform: scale(1.05);
            }
        }
    }

    &__image_container {
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        position: relative;
        isolation: isolate;
    }

    &__flash {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--col-burgundy-400);
        color: white;
        font-size: var(--fs-300);
        padding: 0.25rem 0.5rem;
        z-index: 999;
    }

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: transform 300ms ease;
    }

    &__content {
        background-color: var(--col-blue-400);
        color: white;
        padding: 0.5rem;
    }
}

.sidebar {
    background-color: var(--col-grey-200);
    border-radius: 0.25rem;
    padding: 1rem;
    position: sticky;
    top: var(--h-top);
    &__grid {
        display: grid;
        // grid-template-columns: repeat(2,1fr);
        grid-template-columns: 40% auto;
        gap: 0.5rem;
        padding-bottom: 1rem;
    }
    &__title {
        font-weight: var(--fw-600);
    }
    .grid-cols-2 {
        grid-column: 1 / 3;
    }
    li {
        list-style: none;
    }
}

.case-study {
    &__image {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        margin-bottom: 1rem;
    }
    &__content > .container-xl {
        padding-inline: 0;
    }
}

.gallery {
    display: grid;
    @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    gap: 0.5rem;
    &__preview {
        aspect-ratio: 16 / 9;
        display: block;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.cs-sector {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
    @media (min-width: 992px) {
        grid-template-columns: 1fr 3fr;
    }
    div {
        background-color: var(--col-grey-200);
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
    }
}