$col-primary: #00A0DE;
$col-dark: #00487C;
$col-darkest: #0D0630;
$col-highlight: #53DD6C;
$col-grey: #FFF0F0;

:root {

    --hsl-blue-400: 205, 42%, 21%;
    // --hsl-blue-400: 204, 35%, 38%;
    --hsl-blue-900: 205, 42%, 0%;

    --hsl-green-200: 165 53% 71%;
    --hsl-green-300: 137 37% 73%;
    --hsl-green-400: 155, 100%, 34%;
    --hsl-green-900: 126, 40%, 18%;

    --hsl-burgundy-400: 357 52% 27%;

    --hsl-grey-200: 207, 24%, 93%;
    --hsl-grey-400: 207, 13%, 48%;

    --col-blue-400: hsl( var(--hsl-blue-400) );
    --col-green-200: hsl( var(--hsl-green-200) );
    --col-green-300: hsl( var(--hsl-green-300) );
    --col-green-400: hsl( var(--hsl-green-400) );
    --col-green-900: hsl( var(--hsl-green-900) );

    --col-burgundy-400: hsl( var(--hsl-burgundy-400) );

    --col-grey-200: hsl( var(--hsl-grey-200) );
    --col-grey-400: hsl( var(--hsl-grey-400) );

    --hsl-yellow-400: 57 66% 60%;
    --col-yellow-400: hsl( var(--hsl-yellow-400) );

    --fw-300: 300;
    --fw-600: 600;

    --fs-200: 0.79rem;
    --fs-300: 0.889rem;
    --fs-400: 1rem;
    --fs-450: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --fs-500: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
    --fs-600: clamp(1.27rem, calc(1.03rem + 1.20vw), 1.95rem);
    --fs-700: clamp(1.42rem, calc(1.07rem + 1.77vw), 2.44rem);
    --fs-800: clamp(1.80rem, calc(1.10rem + 3.50vw), 3.82rem);
    --fs-900: clamp(2.03rem, calc(1.07rem + 4.77vw), 4.77rem);

    --h-top: 82px;

    --hero-height: 400px;
}