$col-primary: #00A0DE;
$col-dark: #00487C;
$col-darkest: #0D0630;
$col-highlight: #53DD6C;
$col-grey: #FFF0F0;

:root {

    --col-black: #212529;

    --col-blue-400-hsl: 205 42% 21%;
    --col-blue-400: hsl(var(--col-blue-400-hsl));
    --col-blue-900-hsl: 206 42% 15%;
    --col-blue-900: hsl(var(--col-blue-900-hsl));

    --col-green-200-hsl: 165 53% 71%;
    --col-green-200: hsl(var(--col-green-200-hsl));
    --col-green-300-hsl: 137 37% 73%;
    --col-green-300: hsl(var(--col-green-300-hsl));
    --col-green-400-hsl: 155 100% 34%;
    --col-green-400: hsl(var(--col-green-400-hsl));
    --col-green-900-hsl: 126 40% 18%;
    --col-green-900: hsl(var(--col-green-900-hsl));

    --col-burgundy-400-hsl: 357 52% 27%;
    --col-burgundy-400: hsl(var(--col-burgundy-400-hsl));

    --col-grey-200-hsl: 207 24% 93%;
    --col-grey-200: hsl(var(--col-grey-200-hsl));
    --col-grey-400-hsl: 207 13% 48%;
    --col-grey-400: hsl(var(--col-grey-400-hsl));

    --col-yellow-400-hsl: 57 66% 60%;
    --col-yellow-400: hsl(var(--col-yellow-400-hsl));

    --fw-300: 300;
    --fw-600: 600;

    --fs-200: 0.79rem;
    --fs-300: 0.889rem;
    --fs-400: 1rem;
    --fs-450: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    --fs-500: clamp(1.13rem, calc(0.97rem + 0.76vw), 1.56rem);
    --fs-600: clamp(1.27rem, calc(1.03rem + 1.20vw), 1.95rem);
    --fs-700: clamp(1.42rem, calc(1.07rem + 1.77vw), 2.44rem);
    --fs-800: clamp(1.80rem, calc(1.10rem + 3.50vw), 3.82rem);
    --fs-900: clamp(2.03rem, calc(1.07rem + 4.77vw), 4.77rem);

    --h-top: 82px;

    --hero-height: 400px;
}